snakemake_workflow/references/new_taxdump.tar.gz filter=lfs diff=lfs merge=lfs -text
snakemake_workflow/references/Orchids_NCBI_PLANiTS_ITS_matched_to_ref_O_N_P.fasta filter=lfs diff=lfs merge=lfs -text
